@import './font.css';

/* 全局样式：设置整个应用的基本样式 */
body {
  /* 设置字体 */
  /* font-family: 'Miltonian-Tattoo', 'DingLieSongKe', '微软雅黑', sans-serif; */
  font-family: 'Miltonian-Tattoo', 'QingKongMingChao', '微软雅黑', sans-serif;
  /* font-family: 'FeelingLucky', 'DingLieSongKe', '微软雅黑', sans-serif; */
  font-size: 16px;
  /* 设置行高 */
  line-height: 16px;
  /* 设置文字颜色 */
  color: #333;
  /* 设置背景颜色 */
  background-color: #f6f7d7;
}

/* 链接样式：设置所有链接的默认样式 */
a {
  /* 设置链接颜色 */
  color: #3b82f6;
  /* 移除默认下划线 */
  text-decoration: none;
}

/* 链接悬停样式：设置链接悬停时的效果 */
a:hover {
  /* 添加下划线 */
  text-decoration: underline;
}